body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 160px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid purple

}

.center {
    text-align: center;
}

h1 {
    color: purple
}

footer img {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
    margin-top: -6px;
    margin-left: 8px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 16px;
    gap: 20px;
    margin-right: -2px;
    margin-left: 16px;
}

.X img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    margin-top: -20px;
    margin-left: -12px;
}
.X a {
    margin: 16;
    gap: 80px;
}

.Container {
    padding: 0px 50px;
}

nav a:hover {
    color:blueviolet
}